h1 {
    margin: 0.75em;
}

table {
    width: 100%;

    & .mat-cell {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    //margin-right: auto;
    margin: 1.5em;
    align-self: flex-end;

}