<h2>Comandos asignados a la sonda actual</h2>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let command"> {{command._id}} </td>
    </ng-container>
    <!---<ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let command"> {{command.name}} </td>
    </ng-container>-->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Ip </th>
        <td mat-cell *matCellDef="let command"> {{command.name}} </td>
    </ng-container>
    <!--<ng-container matColumnDef="destiny">
      <th mat-header-cell *matHeaderCellDef> Ip </th>
      <td mat-cell *matCellDef="let command"> {{command.ip}} </td>
    </ng-container>-->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Port </th>
      <td mat-cell *matCellDef="let command"> {{command.duration}} </td>
    </ng-container>
    <!--<ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Port </th>
        <td mat-cell *matCellDef="let command"> {{command.port}} </td>
    </ng-container>-->
    <!--<ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let command"> {{command.active}} </td>
    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'duration']"></tr>
    <tr mat-row *matRowDef="let command; columns: ['id', 'name', 'duration']" 
      routerLink="/command/edit/{{command._id}}">
    </tr>
</table>