<h1>Listado de alertas</h1>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Buscar" (keyup)="searchAlerts(alerts_searcher.value)" #alerts_searcher>
</mat-form-field>
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let alert"> {{alert._id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let alert"> {{alert.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let alert"> {{alert.description}} </td>
    </ng-container>
    <ng-container matColumnDef="min">
      <th mat-header-cell *matHeaderCellDef> Valor mínimo </th>
      <td mat-cell *matCellDef="let alert"> {{alert.min}} </td>
    </ng-container>
    <ng-container matColumnDef="max">
      <th mat-header-cell *matHeaderCellDef> Valor máximo </th>
      <td mat-cell *matCellDef="let alert"> {{alert.max}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Borrar </th>
      <td mat-cell *matCellDef="let alert">
        <mat-icon 
          svgIcon="delete"
          (click)="openDeleteAlert(alert._id)">
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'min', 'max', 'delete']"></tr>
    <tr mat-row *matRowDef="let alert; columns: ['id', 'name', 'description', 'min', 'max', 'delete']">
    </tr>
</table>
<button (click)="openCreateAlert()" mat-raised-button color="primary">Nueva alerta</button> 