<div class="container" *ngIf="probe">
    <h1>Detalle de sonda</h1>
    <section class="update-probe--">
      <form [formGroup]="formGroup" (ngSubmit)="updateProbe()">
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Nombre" formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="Ip" formControlName="ip">
          <mat-error *ngIf="ip.errors?.required">La ip o el dominio donde estará alojada la sonda es necesario</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Guardar</button>
      </form>
    </section> 
    
    <command-list [probe]="probe"></command-list>
</div>

