<!--The content below is only a placeholder and can be replaced.-->
<!--Content of router-->
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened *ngIf="_userService.isLoggedIn()">
    <ul class="nav navbar-nav navbar-right">
        <li ><a *ngIf="_userService.isLoggedIn()" routerLink="/probe">Sondas</a></li>
        <li ><a *ngIf="_userService.isLoggedIn()" routerLink="/alert">Alertas</a></li>
        <li ><a *ngIf="_userService.isLoggedIn()" routerLink="/results_list">Monitorización</a></li>
        <li ><a *ngIf="_userService.isLoggedIn()">{{ _userService.getUserDetails()?.name }}</a></li>
        <li ><a *ngIf="_userService.isLoggedIn()" (click)="_userService.logout()">Logout</a></li>
    </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!---->
<!---->