.container {
    position: relative;
    #login {
        border: solid;
        width: 40%;
        margin: auto;
        p {

        }

        input {
//            position: absolute;
            margin: auto;
            margin-bottom: 10px;
        }
    }
}